<html>
    <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
    
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
        <a class="navbar-brand" href="#" routerLink ="/home" img="appicon.png">MasterChef</a>
    </nav>
    
<hr>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="well search-result">
          <div class="input-group">
              <input type="text" [(ngModel)] = "search" class="form-control" placeholder="Search">
              <span class="input-group-btn">
        <button  (click) = "onclicksearch()" class="btn btn-info btn-lg" type="button ">
                  <i class="glyphicon glyphicon-search"></i>
                  Search
              </button>
      </span>
          </div>
      </div>
      </div>
      <hr>
    <!-- Header -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<section class="deneb_cta">
	<div class="container">
		<div class="cta_wrapper">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="cta_content">
						<h3>Search Results for "{{this.value}}"</h3> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
    
    <!-- Modal -->
    
    <div class="recipecontainer">
      <div class = "row">
    <div *ngFor="let recipe of recipes;let i = index " class="col-md-4" >  
      <div class="card user-card">
          <div class="card-header">
              <h3 style="color: rgb(237, 20, 20);"  >{{recipe?.title}}</h3>
          </div>
          <div class="card-block">
              <div class="user-image">
                  <img src="{{recipe.imageUrl}}" class="img-radius" alt="User-Profile-Image">
              </div>
              <h6 class="f-w-600 m-t-25 m-b-10">by {{recipe?.author}}</h6>
              <hr>

              <input
                class="rating"
                max="5"
                readonly
                step="0.01"
                style="--fill:rgb(255, 251, 0);--value:{{recipe?.avgRating}}"
                type="range">
      
              <p class="m-t-15 text-muted">{{recipe?.desc}}</p>
              <hr>
              <div class="row justify-content-center user-social-link">
                  <button style=" background-color: Transparent; background-repeat:no-repeat; border: none;" (click)="onclickid(recipe.id)"  ><i class="fa fa-eye"></i></button>
              </div>
          </div>
        </div>
        </div>
        </div>
        </div>
    
    <div class="w3-container">
    <hr>
    </div>
    
    <!-- Footer -->
    <footer class="w3-container w3-theme-grey w3-padding-16">
      <h3>Masterchef Recipe Application</h3>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">masterchef</a></p>
      <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
        <span class="w3-text w3-theme-light w3-padding">Go To Top</span>&nbsp;   
        <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
        <i class="fa fa-chevron-circle-up"></i></span></a>
      </div>
    </footer>
    
    
    </body></html>